@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


html, body {
    width: 100%;
    margin: auto;
}

:root{
    --font:("Mulish", sans-serif);
    --verde:(#d3fb53);
    --azul:(blue);
    --text: (#052326);
}

header, menu {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: baseline;
    justify-content: space-between;
}

menu {
    font-family: "Mulish", sans-serif;
    text-align: right;
}

menu > span {
    font-size: 1.5em;
    color: #052326;
    transform: translateY(8px);  
    cursor: pointer;
}

menu> ul {
    min-width: 300px;
    padding-bottom: 40px;
    
}

menu > ul > li {
    display: inline-block;
    margin-right: 30px;
}

menu > ul > li > a {
    display: none;
    text-decoration: none;
    color: #052326;
    padding: 8px;

    
}
menu > ul > li > a:hover {
    background-color: #7af3ff;
    width: 80px;
    border-radius: 5px;
    box-sizing: border-box;
    transform: translate(-3px, -3px);


}

li#butlogin {
    text-align: center;
    border: 2px solid #d3fb53;
    
    width: 80px;
    padding: 5px;
    border-radius: 20px;
}

li#butlogin:hover{
    background-color: #d3fb53;
    cursor: pointer;
}

body {
    font-family: "Mulish", sans-serif;
}

main {
    margin: auto;  
}

h1 {
    text-align: center;
    font-weight:900;
    color: #052326;
    padding-bottom: 20px;
    font-size: 2em;
    line-height: 1.3em;
}

strong {
    background-color: #d3fb53;
    font-weight: 900;

}

section.one {
    background-color: white;
    

}

.container-one {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.oneinfo {
    width: auto;
    margin: auto;
}

section.one > p {
    text-align: center;
    padding-bottom: 20px;
}

.modelo {
    height: 40vh;
    box-sizing: border-box;
    overflow: hidden;   
}
.modelo > img {
    max-width: 40vh;
}
  
.button {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border: #d3fb53 2px solid;
    padding: 10px;
    border-radius: 30px;
    width: 220px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.208); 
    box-sizing: border-box;
}

.button > span {
    transform: translateY(5px);
    font-size: 1.3em;
}

.button:hover{
    background-color: #d3fb53;
    transition-duration: 0.5s;
    cursor: pointer;
}

section.two {
    display: block;
    background-color: #d3fb53;
    padding-bottom: 30px;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    padding-top: 20px;
    margin: 0%;
    
}

.subtitulo {
    margin: 0.5em;
    text-align: center;
    padding-bottom: 35px;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 
}

.container >div {
    max-width: 1028px;
}

.container > div > span {
    font-size: 3em;
    padding: 8px;
    color: #052326;
}

.passo1, .passo2, .passo3 {
    box-sizing: border-box;
    width: 200px;
    height: 250px;
    border: 3px solid black;
    border-radius: 8px;
    text-align: center;
    margin: auto;
    
}

.passo1, .passo2, .passo3 > p {
    padding: 8px;
    
}

.three {
    height: 550px;
    position: relative;
}

.three > div {
    height: max(80vh);
    background-color: #7af3ff;
}

.three > div > h2 {
    height:50px;
    background-color: #ffffff;
} 
    
.number {
    font-size: 3em;
    padding-left: 50px;
    padding-top: 30px;
}

.comofunciona{
    
    width: 450px;
    padding-left: 50px;
}

.passos {
    width: 50%;
    padding-left: 50px;  
    display: flex;
    gap: 4px;
    box-sizing: inherit;
}

.passos > div {
    align-items: stretch;
    color: rgb(163, 162, 162);
    width: 100px;
    height: 50px;
    
    margin-top: 40px;
    background-color: rgb(234, 228, 228);
    border-radius: 7px;
    text-align: center;
    box-sizing: border-box;
    padding: 14px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.passos >div:hover{
    color: #052326;
    font-weight: bolder;
    text-decoration: underline #052326 3px;
    transition: ease-in-out;
    transition-duration: .3s;
}

.step01 {
   
    right: 0px;
    text-align: right;
    vertical-align: middle;
    z-index: 3;
    width: 90%;
    height: 50vh;
    transform: translateY(-100px);


}

.bgstep {
    background-color: #d3fb53;
    bottom: 0;
    right: 0px;
    display: block;
    border-start-start-radius: 50px;
    
    height: 87.5%;
    width: 40%;
    z-index: 1;


}
